.Rproj.user
.Rhistory
.RData
.Ruserdata
Atlantic_migrants_MD/
data/all_TD/
data/extra_data/
data/colony_locations.csv
data/analysis/all_TD/
data/analysis/birddays_eez/
data/analysis/birddays_rfmo/
data/analysis/GLS_error/
data/analysis/month_filtered/
data/analysis/noeqx_dnsmpl/
data/analysis/oveez/
data/analysis/ovrfmo/
data/analysis/bird_thresh/birddays_eez/
data/analysis/bird_thresh/birddays_rfmo/
data/analysis/bird_thresh/month_filtered/
data/analysis/bird_thresh/oveez/
data/analysis/bird_thresh/ovrfmo/
data/analysis/sovereign_B_assign/birddays_eez/
data/analysis/sovereign_B_assign/birddays_rfmo/
data/analysis/sovereign_B_assign/oveez/
data/analysis/sovereign_B_assign/ovrfmo/
data2publish/
data_phenology/
data_summaries/
data_summaries_FINAL/
data_test/
figures/
manuscript/
notes/
spatial_data/
scripts/exploration/
scripts/geodata/
scripts/data_request_rmarkdown/
scripts/final/data_summary/datasets_dataowners.R
political_connectivity.Rproj